spring:
  mail:
    properties:
      mail:
        smtp:
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
    debug: true
    default-encoding: UTF-8

    host: smtp.gmail.com
    password: oknxmkzxhjqjdcbu
    port: 465
    protocol: smtps
    smtp:
      auth: true
      starttls:
        enable: true
    username: kongratbaev.77.7@gmail.com

server:
  servlet:
    context-path: /mail
  port: 9999

security:
  oauth2:
    client:
      client-id: mail-service
      client-secret: ${MAIL_SERVICE_PASSWORD}
      access-token-uri: http://localhost:5001/uaa/oauth/token
      grant-type: client_credentials
      scope: server
